[submodule "max2sphere"]
	path = max2sphere
	url = https://github.com/greenbrettmichael/max2sphere.git
[submodule "fusion2sphere"]
	path = fusion2sphere
	url = https://github.com/greenbrettmichael/fusion2sphere
